<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
        <!-- Flaticon CSS -->
        <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
        <!-- font-awesome CSS -->
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <!-- owl.carousel CSS -->
        <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="owl-carousel/owl.theme.css" rel="stylesheet">
        <!-- Offcanvas CSS -->
        <link href="/css/hippo-off-canvas.css" rel="stylesheet">
        <!-- animate CSS -->
        <link href="/css/animate.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Responsive CSS -->
        <link href="/css/responsive.css" rel="stylesheet">
      <link href="/css/new.css" rel="stylesheet">
        
        <title>College Compass</title>
    </head>

<body>
    <div id="st-container" class="st-container">
	    <div class="st-pusher">
	      <div class="st-content">
	        <div class="st-content-inner">
			    <header>
					 <%- include("./partials/nav.ejs") %>
				  </header>
                <div class="not-found content">
                  OOPS, page not found 
                </div>
            </div>
          </div>
        </div>
    </div> 

</body>
</html>