<!DOCTYPE html>
<html lang="en">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>College Compass</title>
    <!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
    <!-- Flaticon CSS -->
    <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="css/hippo-off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="css/animate.css" rel="stylesheet">
	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	    <script src="js/vendor/html5shim.js"></script>
	    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
	</head>


	<body>

	  <div id="st-container" class="st-container">
	    <div class="st-pusher">
	      <div class="st-content">
	        <div class="st-content-inner">
			 	<header>
					<%- include("./partials/nav.ejs") %>
					
				</header>

				<section class="page-header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="page-header">
								  <h1>About Us</h1>
								</div>
								<ol class="breadcrumb">
								  <li><a href="/">Home</a></li>
								  <li class="active">About Us</li>
								</ol>
							</div>
						</div><!-- /.row -->
					</div><!-- /.container-fluid -->
				</section>


				<div class="container">
					<div class="content-wrapper">
						<section class="about-us-wrapper">
							<h2>Your Trusted Allotment Helper</h2>
							<div class="row margin-bottom-60"> 
								<div class="col-md-6">
									<p>Introducing "College Compass" – the ultimate destination for students seeking engineering colleges in Kerala based on their KEAM rank and personalized filters. With our innovative platform, you can navigate through a vast selection of colleges, ensuring a seamless and transparent process. Rest assured, our dedicated team is committed to providing accurate and reliable information, empowering you to make informed decisions about your educational journey. Trust us to be your guiding companion in finding the perfect engineering college that aligns with your aspirations and ambitions.</p>
									
									
								</div><!-- /.col-md-6 -->

								<div class="col-md-6">
									<p>The college allotment helper website simplifies the overwhelming task of selecting an engineering college in Kerala by considering the user’s rank, location, preferred branch of engineering, and placement records of different colleges.</p>
								</div><!-- /.col-md-6 -->
							</div><!-- /.row -->

							<h2>College Compass</h2>
							<div class="row">
								<div class="col-md-12">
									<em>The process of selecting an engineering college can be a daunting task for students, especially in a state like Kerala where there are numerous colleges to choose from. To simplify this process and help students make informed decisions, the college allotment helper website has been designed to take into account several factors that influence the selection of an engineering college. The website first considers the user's rank, which plays a crucial role in determining the colleges they are eligible to apply for. It then factors in the student's preferred location, as some students may prefer to study in a college closer to their home or in a particular city. The preferred branch of engineering is also taken into consideration, as some students may have a specific area of interest or expertise that they want to pursue. In addition to the user's rank, location, and preferred branch of engineering, the college allotment helper website also takes into account the placement records of various colleges. This helps students make an informed decision about the colleges they want to apply to, based on the quality of placements offered by each institution. Overall, the college allotment helper website aims to provide students with a personalized and efficient way to select the engineering colleges that are best suited to their interests and goals. By taking into account several important factors, the website ensures that the college selection process is more streamlined and informed, helping students make better decisions for their academic future.</em>
								</div>
							</div>
						</section><!-- /.about-us-wrapper -->

						

						<section class="team-wrapper">
							

							<h2 class="section-title">Join Our Team</h2>
							<div class="row">
								<div class="col-sm-8">
									<p>Join our team and be a part of revolutionizing the way students find engineering colleges in Kerala! We are a dynamic website dedicated to assisting students in discovering the perfect college based on their KEAM rank and tailored filters. By joining us, you'll contribute to empowering aspiring engineers, helping them make informed decisions about their future education. Together, let's shape the academic journey of countless students and pave the way for their success in the vibrant world of engineering.</p>
								</div>
								
							</div>
						</section>

						
					</div><!-- /.content-wrapper -->
				</div><!-- /.container -->

				


				<footer class="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="copyright wow fadeInDown">
									<p>Copyright &copy; College Compass . All Rights Reserved. Designed by Team 11</p>
								</div><!-- /.copyright -->
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
				</footer>

	        </div> <!-- .st-content-inner -->
	      </div> <!-- .st-content -->
	    </div> <!-- .st-pusher -->


		<!-- ======== OFFCANVAS MENU ========= -->
    	<div class="offcanvas-menu offcanvas-effect visible-xs">
	        <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
	        <h3>Sidebar Menu</h3>
	        <div>
	          <div>
				<ul>
					<li><a href="#">Home</a>
						<ul>
							<li><a href="index.html"><i class="fa fa-home"></i> Home Style One</a></li>
						</ul>
					</li>

					<li><a href="#">About</a>
						<ul>
							<li class="active"><a href="about-us.html"><i class="fa fa-life-ring"></i> About Us</a></li>
							<li><a href="about-me.html"><i class="fa fa-user"></i> About me</a></li>
						</ul>
					</li>

					<li><a href="#">Blog</a>
						<ul>
							<li><a href="blog.html"><i class="fa fa-pencil-square-o"></i> Standard Blog</a></li>
							<li><a href="blog-single.html"><i class="fa fa-pencil"></i> Single Article</a></li>
						</ul>
					</li>

					<li><a href="#">Portfolio</a>
						<ul>
							<li><a href="portfolio-four.html"><i class="fa fa-picture-o"></i> Four Column</a></li>
							<li><a href="portfolio-three.html"><i class="fa fa-paper-plane-o"></i> Three Column</a></li>
							<li><a href="portfolio-two.html"><i class="fa fa-magic"></i> Two Column</a></li>
						</ul>
					</li>


					<li><a href="#">Pages</a>
						<ul>
							<li><a href="job-page.html"><i class="fa fa-briefcase"></i> Job Page</a></li>
							<li><a href="clients-page.html"><i class="fa fa-coffee"></i> Clients Page</a></li>
							<li><a href="faq.html"><i class="fa fa-question-circle"></i> FAQ Page</a></li>
							<li><a href="typography.html"><i class="fa fa-puzzle-piece"></i> Typography Page</a></li>
						</ul>
					</li>

					<li><a href="#">Contact</a>
						<ul>
							<li><a href="contact.html"><i class="fa fa-envelope-o"></i> Contact</a></li>
						</ul>
					</li>
				</ul>
	          </div>
	        </div>
    	  </div><!-- .offcanvas-menu -->
		</div><!-- /st-container -->



		<!-- Preloader -->
		<div id="preloader">
			<div id="status">
				<div class="status-mes"></div>
			</div>
		</div>


	    <!-- jQuery -->
	    <script src="js/jquery.js"></script>
	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js"></script>
	    <!-- wow.min.js -->
	    <script src="js/wow.min.js"></script>
		<!-- jQuery REVOLUTION Slider  -->
		<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	    <!-- owl-carousel -->
	    <script src="owl-carousel/owl.carousel.min.js"></script>
	    <!-- smoothscroll -->
	    <script src="js/smoothscroll.js"></script>
		<!-- Offcanvas Menu -->
		<script src="js/hippo-offcanvas.js"></script>
		<!-- easypiechart -->
		<script src="js/jquery.easypiechart.min.js"></script>
	    <!-- Scrolling Nav JavaScript -->
	    <script src="js/jquery.easing.min.js"></script>
		<!-- Magnific-popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Shuffle.min js -->
		<script src="js/jquery.shuffle.min.js"></script>
	    <!-- Custom Script -->
	    <script src="js/scripts.js"></script>
	</body>
</html>
