<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>College Compass</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
    <!-- Flaticon CSS -->
    <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="/css/hippo-off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">
	<link href="/css/new.css" rel="stylesheet">
	
	


    <script src="js/vendor/modernizr-2.8.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	    <script src="js/vendor/html5shim.js"></script>
	    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->

	</head>


	<body>
	  <div id="st-container" class="st-container">
	    <div class="st-pusher">
	      <div class="st-content">
	        <div class="st-content-inner">
			    <header>
					<%- include("./partials/nav.ejs") %>
				</header>


                <div id="x-corp-carousel" class="carousel slide hero-slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#x-corp-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#x-corp-carousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/header-bg1.jpg" alt="Hero Slide">
                            <!--Slide Image-->

                            <div class="container">
                                <div class="carousel-caption">
                                    <small class="animated fadeIn">CALL US TODAY</small>
                                    <div class="phone animated lightSpeedIn">1-800-1234-567</div>
                                    <h1 class="animated lightSpeedIn">KEAM <br>College Allotment<br>made easy.</h1>

                                    <p class="lead animated lightSpeedIn">This website helps students to apply colleges in KEAM website efficiently and error free.</p>

                                    <a class="btn btn-primary animated lightSpeedIn" href="/mainpage">Let's get started</a>
                                </div>
                                <!--.carousel-caption-->
                            </div>
                            <!--.container-->
                        </div>
                        <!--.item-->

                        <div class="item">
                            <img src="/img/students4.jpg" alt="Hero Slide">
                            <!--Slide Image-->

                            <div class="container">
                                <div class="carousel-caption">

                                    <h1 class="animated bounceIn">Are you waiting<br>for KEAM result ?</h1>

                                    <p class="lead animated bounceIn">
                                        Then what are you waiting for!
									    Find the best Engineering colleges in kerala</p>
                                    <a class="btn btn-primary animated bounceIn" href="#">Let's get started</a>
                                </div>
                                <!--.carousel-caption-->
                            </div>
                            <!--.container-->
                        </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#x-corp-carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#x-corp-carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- #x-corp-carousel-->


				<div class="container">
					<div class="content-wrapper">
						
						<section class="handover-wrapper">
							<section class="counter">
								<div class="counter-item">
								  <span class="count" data-target="40">0</span>
								  <span class="elementor-counter-number-suffix">+</span>
								  <p>Courses</p>
								</div>
								<div class="counter-item">
								  <span class="count" data-target="170">0</span>
								  <span class="elementor-counter-number-suffix">+</span>
								  <p>Colleges</p>
								</div>
								<div class="counter-item">
								  <span class="count" data-target="52">0</span>
								  <span class="elementor-counter-number-suffix">K+</span>
								  <p>Seats</p>
								</div>
								<div class="counter-item">
								  <span class="count" data-target="80">0</span>
								  <span class="elementor-counter-number-suffix">%</span>
								  <p>Placements</p>
								</div>
							  </section>
							
							  <script >
								document.addEventListener('DOMContentLoaded', function() {
							  const counters = document.querySelectorAll('.count');
							  const speed = 200; // The lower the number, the faster the animation
							
							  counters.forEach(counter => {
								const updateCount = () => {
								  const target = +counter.getAttribute('data-target');
								  const count = +counter.innerText;
							
								  const increment = target / speed;
							
								  if (count < target) {
									counter.innerText = Math.ceil(count + increment);
									setTimeout(updateCount, 1);
								  } else {
									counter.innerText = target;
								  }
								};
							
								updateCount();
							  });
							});
							
							
							  </script>
				
					

						</section>
						
						
						
						<section class="intro-wrapper"> 
							<div class="row"> 
								<div class="col-lg-6 col-md-8">
									<h2 class="wow fadeInDown">Welcome to College Compass</h2>
									<p class="wow fadeInDown"></p>

									<h3 class="wow fadeInDown">About Us</h3>
									<p class="wow fadeInDown">The KEAM college allotment procedure in Kerala for engineering colleges involves a process where students are given a list of colleges based on their rank, with the colleges being arranged in a specific order. In this process, it is crucial to follow the order of colleges because the higher-ranked colleges are generally preferred by students.</p>

									<h3 class="wow fadeInDown">Our Mission</h3>
									<p class="wow fadeInDown">To make this process more efficient and accurate, a website has been developed that allows users to generate a personalized list of colleges based on their specific preferences. The website takes into account the user’s rank, location, preferred branch of engineering, and other relevant factors to create a list that is tailored to their individual needs.</p>

									<a class="btn btn-primary wow fadeInDown" href="#" role="button">Read More</a>
								</div>

								<div class="col-lg-6 col-md-4"></div>
							</div><!-- /.row -->
						</section><!-- /.intro-wrapper -->


						<section class="service-wrapper">
							<h2 class="section-title wow fadeInDown">Our Services</h2>
				            <div class="row">
				              <div class="col-md-6 wow fadeInRight">
				                <div class="media">
				                  <a class="media-left" href="#">
				                    <span class="icon bg1 flaticon-increasing5"></span>
				                  </a>
				                  <div class="media-body">
				                    <h3 class="media-heading"><a href="#">Allotment Alerter</a></h3>
				                    <p class="p1">Notifies your phones through text message when allotment dates and results are released.</p>
				                  </div> <!-- /.media-body -->
				                </div> <!-- /.media -->
				              </div> <!-- /.col-md-6 -->
				              
				              <div class="col-md-6 wow fadeInRight">
				                <div class="media">
				                  <a class="media-left" href="#">
				                    <span class="icon bg2 flaticon-syncing"></span>
				                  </a>
				                  <div class="media-body">
				                    <h3 class="media-heading"><a href="#">Fast online support</a></h3>
				                    <p class="p1">Our help and support services for the college allotment helper include providing users with reliable assistance to navigate the website and customize their college list according to their preferences.</p>
				                  </div> <!-- /.media-body -->
				                </div> <!-- /.media -->
				              </div> <!-- /.col-md-6 -->
				              
				              <div class="col-md-6 wow fadeInRight">
				                <div class="media">
				                  <a class="media-left" href="#">
				                    <span class="icon bg3 flaticon-file24"></span>
				                  </a>
				                  <div class="media-body">
				                    <h3 class="media-heading"><a href="#">College List</a></h3>
				                    <p class="p1">The website takes into account the user's rank, location, preferred branch of engineering, and other relevant factors to create a list that is tailored to their individual needs.</p>
				                  </div> <!-- /.media-body -->
				                </div> <!-- /.media -->
				              </div> <!-- /.col-md-6 -->

				              <div class="col-md-6 wow fadeInRight">
				                <div class="media">
				                  <a class="media-left" href="#">
				                    <span class="icon bg4 flaticon-royalty"></span>
				                  </a>
				                  <div class="media-body">
				                    <h3 class="media-heading"><a href="#">Fresh business ideas</a></h3>
				                    <p class="p1">Assertively target turnkey technologies whereas covalent ROI. Distinctively grow viral mindshare rather than collaborative meta-services redibly initiate.</p>
				                  </div> <!-- /.media-body -->
				                </div> <!-- /.media -->
				              </div> <!-- /.col-md-6 -->
				            </div> <!-- /.row -->
						</section>


						<section class="support-wrapper">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-1">
									<h2 class="wow fadeInDown">We have 24/7 dedicated support team</h2>
									<p class="wow fadeInDown" style="color:aliceblue;">Proactively negotiate interdependent quality vectors for cross functional collaboration and idea-sharing. Dynamically myocardinate business quality vectors for web-enabled leadership. Synergistically simplify world-class alignments whereas extensible.</p>

									<a class="btn btn-primary btn-lg wow fadeInDown" href="#">Get Instant Support</a>
								</div>
							</div>
						</section>
						<!-- <form action="/add" method="POST">
							<input type="text" name="name" id="name" placeholder="name">
							<input type="text" name="category" id="category" placeholder="category">
							<input type="text" name="branch" id="branch" placeholder="branch">
							<input type="number" name="lastrank" id="lastrank" placeholder="lastrank">
							<input type="text" name="link" id="link" placeholder="link">
							<input type="text" name="location" id="location" placeholder="location">
							<input type="number" name="placed" id="placed" placeholder="placed">
							<button>aDD</button>

						</form> -->
					</div><!-- /.content-wrapper -->
				</div><!-- /.container -->
				<footer class="footer-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="copyright wow fadeInDown">
									<p>Copyright &copy; College Compass . All Rights Reserved. Designed by Team 11</p>
								</div><!-- /.copyright -->
							</div><!-- /.col-md-12 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
				</footer>
	        </div> <!-- .st-content-inner -->
	       </div> <!-- .st-content -->
	    </div> <!-- .st-pusher -->


		<!-- ======== OFFCANVAS MENU ========= -->
	    <div class="offcanvas-menu offcanvas-effect visible-xs">
	      <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
	      <h3>Sidebar Menu</h3>
	      	<div>
		      <div>
				<ul>
					<li><a href="#">Home</a>
						<ul>
							<li class="active"><a href="index.html"><i class="fa fa-home"></i> Home Style One</a></li>
						</ul>
					</li>

					<li><a href="#">About</a>
						<ul>
							<li><a href="about-us.html"><i class="fa fa-life-ring"></i> About Us</a></li>
							<li><a href="about-me.html"><i class="fa fa-user"></i> About me</a></li>
						</ul>
					</li>

					<li><a href="#">Blog</a>
						<ul>
							<li><a href="blog.html"><i class="fa fa-pencil-square-o"></i> Standard Blog</a></li>
							<li><a href="blog-single.html"><i class="fa fa-pencil"></i> Single Article</a></li>
						</ul>
					</li>

					<li><a href="#">Portfolio</a>
						<ul>
							<li><a href="portfolio-four.html"><i class="fa fa-picture-o"></i> Four Column</a></li>
							<li><a href="portfolio-three.html"><i class="fa fa-paper-plane-o"></i> Three Column</a></li>
							<li><a href="portfolio-two.html"><i class="fa fa-magic"></i> Two Column</a></li>
						</ul>
					</li>


					<li><a href="#">Pages</a>
						<ul>
							<li><a href="job-page.html"><i class="fa fa-briefcase"></i> Job Page</a></li>
							<li><a href="clients-page.html"><i class="fa fa-coffee"></i> Clients Page</a></li>
							<li><a href="faq.html"><i class="fa fa-question-circle"></i> FAQ Page</a></li>
							<li><a href="typography.html"><i class="fa fa-puzzle-piece"></i> Typography Page</a></li>
						</ul>
					</li>


					<li><a href="#">Contact</a>
						<ul>
							<li><a href="contact.html"><i class="fa fa-envelope-o"></i> Contact</a></li>
						</ul>
					</li>
				</ul>
			  </div>
			</div>
	    </div><!-- .offcanvas-menu -->
	  </div><!-- /st-container -->


		<!-- Preloader -->
		<div id="preloader">
			<div id="status">
				<div class="status-mes"></div>
			</div>
		</div>



	    <!-- jQuery -->
	    <script src="../js/jquery.js"></script>
	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js"></script>
	    <!-- wow.min.js -->
	    <script src="js/wow.min.js"></script>
	    <!-- owl-carousel -->
	    <script src="owl-carousel/owl.carousel.min.js"></script>
	    <!-- smoothscroll -->
	    <script src="js/smoothscroll.js"></script>
		<!-- Offcanvas Menu -->
		<script src="js/hippo-offcanvas.js"></script>
		<!-- easypiechart -->
		<script src="js/jquery.easypiechart.min.js"></script>
	    <!-- Scrolling Nav JavaScript -->
	    <script src="js/jquery.easing.min.js"></script>
		<!-- Magnific-popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Shuffle.min js -->
		<script src="js/jquery.shuffle.min.js"></script>
	    <!-- Custom Script -->
	    <script src="js/scripts.js"></script>
	</body>
</html>
