<!DOCTYPE html>
<html lang="en">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>College Compass</title>
    <!-- Web Fonts -->
	  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
    <!-- Flaticon CSS -->
    <link href="fonts/flaticon/flaticon.css" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="css/hippo-off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="css/animate.css" rel="stylesheet">
	  <!-- REVOLUTION BANNER CSS SETTINGS -->
	  <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/collegeliststyle.css" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.1.min.js"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	    <script src="js/vendor/html5shim.js"></script>
	    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
	</head>


	<body>

	  <div id="st-container" class="st-container">
	    <div class="st-pusher">
	      <div class="st-content">
	        <div class="st-content-inner">
			 	<header>
          <%- include("./partials/nav.ejs") %>
        </header>

                    <section class="page-header-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-header">
                                      <h1>College List Generator</h1>
                                    </div>
                                    
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </section>

                    <div class="container">
                      <div class="content-wrapper">
                        <div class="inner-content">
				
                          <div class="form-container">
                            <form action="/collegelist" method="GET">
                              <div class="form-group">
                                <label for="keam-rank">KEAM Rank:</label>
                                <input type="text" id="keam-rank" name="rank" placeholder="Enter KEAM Rank" required autocomplete="off">
                              </div>
                          
                              <div class="form-group">
                                <label for="caste">Category:</label>
                                <select id="caste" name="category" required>
                                  <option value="SM">General</option>
                                  <option value="EZ">EZ</option>
                                  <option value="MU">MU</option>
                                  <option value="SC">SC</option>
                                  <option value="ST">ST</option>
                                </select>
                              </div>
                          
                              <div class="filter">
                                <h2>Filter</h2>

                                <h2>Placement</h2>

                                  <div class="loclist"> 
                                    <div class="loclist1">
                                      <input type="checkbox" id="radio1" name="placement" value="200" />
                                      <label for="radio1">100-200</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="radio2" name="placement" value="300" />
                                      <label for="radio2">200-300</label><br />  
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="radio3" name="placement" value="900" />
                                      <label for="radio3">300+</label><br />  
                                    </div>
                                  </div>

                                <h2>Location</h2>

                                <div class="loclist">
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox1" name="location" value="Alappuzha" />
                                      <label for="checkbox1">Alappuzha</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox2" name="location" value="Ernakulam"/>
                                      <label for="checkbox2">Ernakulam</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox3" name="location" value="Kozhikode"/>
                                      <label for="checkbox3">Kozhikode</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox4" name="location" value="Palakkad"/>
                                      <label for="checkbox4">Palakkad</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox5" name="location" value="Kollam"/>
                                      <label for="checkbox5">Kollam</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox6" name="location" value="Kannur"/>
                                      <label for="checkbox6">Kannur</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox7" name="location" value="Kasaragod"/>
                                      <label for="checkbox7">Kasaragod</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox8" name="location" value="Idukki"/>
                                      <label for="checkbox8">Idukki</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox9" name="location" value="Kottayam"/>
                                      <label for="checkbox9">Kottayam</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox10" name="location" value="Thrissur"/>
                                      <label for="checkbox10">Thrissur</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox11" name="location" value="Pathanamthitta"/>
                                      <label for="checkbox11">Pathanamthitta</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox12" name="location" value="Malappuram"/>
                                      <label for="checkbox12">Malappuram</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox13" name="location" value="Wayanad"/>
                                      <label for="checkbox13">Wayanad</label><br />
                                    </div>
                                    <div class="loclist1">
                                      <input type="checkbox" id="checkbox14" name="location" value="Trivandrum"/>
                                      <label for="checkbox14">Trivandrum</label><br />
                                    </div>
                                </div>
                              </div>       

                              <div class="courses">
                                <h2>Courses</h2>
                                <div class="courselist">
                                <input type="checkbox" id="course1" name="course" value="mech" />
                                <label for="course1">Mechanical</label><br />
                                <input type="checkbox" id="course2" name="course" value="ce"/>
                                <label for="course2">Civil</label><br />
                                <input type="checkbox" id="course3" name="course" value="cs"/>
                                <label for="course3">Computer Science</label><br />
                              
                              
                                <input type="checkbox" id="course4" name="course" value="eee" />
                                <label for="course4">Electrical and Electronics</label><br />
                                <input type="checkbox" id="course5" name="course" value="ec"/>
                                <label for="course5">Electronics</label><br />
                                <input type="checkbox" id="course6" name="course" value="ie"/>
                                <label for="course6">Instrumentation</label><br />
                              </div>
                            </div>
                            <div class="btn-container">
                              <button class="btn" id="submitbtn">Submit</button>
                            </div>
                          </form>
                        </div>
            </div>    
          </div>        
        </div>  
    </body>         






                



      